<p id="notice"><%= notice %></p>


<div class="bg-black">
<nav class="navbar navbar-expand-lg navbar-dark bg-black">

    <%= image_tag 'logo_round.png', id: 'logo', class: "mx-3" %>
    
    <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon "></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample07">
      <ul class="navbar-nav mr-auto ">
        <li class="nav-item grow mr-3">
          <%= link_to "HOME", :controller => :catagories, :action => :home, class: "text-lobster grow" %>
        </li>
        <% @catagories.each do |catagory| %>
          <li class="nav-item grow mr-3">
            <%= link_to catagory.name, catagory, class: "text-lobster grow" %>
          </li>
        <% end  %>
        <li class="nav-item grow mr-3">
          <%= link_to "CONTACT US", :controller => :catagories, :action => :contactus, class: "text-lobster grow" %>
        </li>
      </ul>
    </div>
</nav>
</div>
<hr>


    

<div class="container">
  <% if admin_signed_in? %>
    <div class="add">
      <button style="width: 100%; height: 100%; background-color: transparent; border: none;">
        <%= link_to "+", new_post_path, class: "center" %>
      </button>
    </div>
      <br>
  <% end %>


  <% @catagory.posts.each do |post| %>

    <%= post.content%>
    <%= image_tag post.image, class: "thumbnail" %>

    <% if admin_signed_in? %>
      <%= link_to '<i class="fa fa-trash"></i>'.html_safe, post, method: :delete %>      
    <% end %>

      
    <% if post != @catagory.posts.last %>  
      <hr>
    <% end %>

  <% end %>
</div>



