

<%# HEADER %>     

<div class="bg-white border-bottom">



<nav class="navbar navbar-inverse navbar-expand-lg navbar-light bg-white  ">

  <%= link_to image_tag('BULLIES_LOGO.png',id: 'logo', class: "grow "), :controller => :catagories, :action => :home %>

    <button class="navbar-toggler mt-auto ml-auto" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon "></span>
    </button>
    <div class="collapse navbar-collapse border-top mt-2" style="z-index: 1;" id="navbarsExample07">
      <ul class="navbar-nav float-right" >

          <% @catagories.each do |catagory| %>
            <li class="nav-item grow ml-2 mr-5 text-right" >
              <%= link_to catagory.name, catagory, class: "text-lobster" %>
            </li>
          <% end  %>
          <li class="nav-item grow ml-2 mr-5 text-right">
            <%= link_to "CONTACT US", :controller => :catagories, :action => :contactus%>
          </li>
        
      </ul>
    </div>
</nav>

</div>





<%# ------------MAIN---------------- %>     
<main>
  <div  style="text-align: center;">

  <%# ADD POST BUTTON IF SIGNED IN %>
  <% if admin_signed_in? %>
    <div class="add" >
      <%= button_to "New Post", new_post_path, :method => :get, class: "btn-add" %>
    </div>
      <br>
  <% end %>

  <%# SHOW POSTS %>
    <div class="album py-5 bg-light">
      <div class="container">
        <div class="row">
          <% @catagory.posts.each do |post| %>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <%= image_tag post.image, class: "card-img-top" %>
                <div class="card-body">
                  <h2 class="card-title"><%= post.title %></h2>
                  <p class="card-text"><%= post.content %></p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <%= button_to "View", post, :controller => 'posts', :action => 'show', :method => :get, class: "btn btn-sm btn-outline-secondary mr-1" %>
                      <% if admin_signed_in? %>
                       <%= button_to "Edit", edit_post_path(post.id), :controller => 'posts', :action => 'edit', :method => :get, class: "btn btn-sm btn-outline-secondary" %>
                      <% end %>
                    </div>
                      <% if admin_signed_in? %>
                          <%= link_to "<i class='fa fa-trash'></i>".html_safe, post, method: :delete, data: {confirm: "Are you sure?"}, class: "icon-button text-lg"%>      
                      <% end %>                  
                    </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    
  </div>
</main>

<%# FOOTER %>     

<footer class="border-top">
<br>
  <div class="container">
    <div class="d-flex justify-content-around">

      <button class="btn btn-default grow" onclick="window.open('https://www.facebook.com/badriderbullies','_blank');">
        <i class="fab fa-facebook fa-3x icon-button"></i>
      </button>

      <button class="btn btn-default grow" onclick="window.open('https://www.instagram.com/bad_rider_bullies','_blank');">
        <i class="fab fa-instagram fa-3x icon-button"></i>
      </button>

      <button class="btn btn-default grow">
        <i class="fa fa-envelope-open-text fa-3x icon-button"></i>
      </button>

    </div>
  </div>