<%# HEADER %>     
<div class="bg-black border-bottom text-white">
<nav class="navbar navbar-inverse navbar-expand-xl navbar-dark bg-transparent  ">

  <%= link_to image_tag('BULLIES_LOGO.png',id: 'logo', class: "grow "), :controller => :catagories, :action => :home %>

    <button role="button" class="navbar-toggler mt-auto ml-auto" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon "></span>
    </button>
    <div class="collapse navbar-collapse border-top border-warning mt-2" style="z-index: 1;" id="navbarsExample07">
      <ul class="navbar-nav float-right" >

          <% @catagories.each do |catagory| %>
            <li class="nav-item grow ml-1 mr-4 text-right" >
              <%= link_to catagory.name, catagory, class: "text-lobster" %>
            </li>
          <% end  %>
          <li class="nav-item grow ml-1 mr-4 text-right">
            <%= link_to "CONTACT US", {:controller => :catagories, :action => :contactus}, class: "text-lobster" %>
          </li>
        
      </ul>
    </div>
</nav>

</div>



<%# ------------MAIN---------------- %>     
<main>
  <div class="text-center">

  <%# ADD POST BUTTON IF SIGNED IN %>
  <% if admin_signed_in? %>
    <div class="add" >
      <%= button_to "New Post", new_post_path, :method => :get, class: "btn-add" %>
    </div>
      <br>
  <% end %>

  <%# SHOW POSTS %>
    <div class="album py-5 bg-dark-secondary">
      <div class="container">
        <% if @catagory.posts.length > 0 %>
          <div class="row">
            <% @catagory.posts.each do |post| %>
              <div class="col-md-4">
                <div class="card mb-4 bg-dark-dark text-dark-theme">
                  <%= image_tag post.image, class: "card-img-top " %>
                  <div class="card-body mb-4">
                    <h2 class="card-title"><%= post.title %></h2>
                    <p class="card-text"><%= post.content %></p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <%= button_to "View", post, :controller => 'posts', :action => 'show', :method => :get, class: "btn btn-sm btn-outline-secondary mr-1 hover-orange" %>
                        <% if admin_signed_in? %>
                        <%= button_to "Edit", edit_post_path(post.id), :controller => 'posts', :action => 'edit', :method => :get, class: "btn btn-sm btn-outline-secondary" %>
                        <% end %>
                      </div>
                        <% if admin_signed_in? %>
                            <%= link_to "<i class='fa fa-trash'></i>".html_safe, post, method: :delete, data: {confirm: "Are you sure?"}, class: "icon-button text-lg"%>      
                        <% end %>                  
                      </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% else %>
          <div class="text-white">
            <i class="fa fa-dog text-xl mb-5"></i>
            <p >There are currently no doggos here..</p>
          </div>
          
        <% end %>
          
      </div>
    </div>
    
  </div>
</main>


<%# FOOTER %>     
<footer class="border-top mb-3 bg-black">
<br>
  <div class="container">
    <div class="d-flex justify-content-around">

      <button class="btn btn-default grow" role="button" onclick="window.open('https://www.facebook.com/badriderbullies','_blank');">
        <i class="fab fa-facebook fa-3x icon-button"></i>
      </button>

      <button class="btn btn-default grow" role="button" onclick="window.open('https://www.instagram.com/bad_rider_bullies','_blank');">
        <i class="fab fa-instagram fa-3x icon-button"></i>
      </button>

      <a href="mailto:trentheist@gmail.com" role="button" class="btn btn-default grow">
        <i class="fa fa-envelope-open-text fa-3x icon-button"></i>
      </a>

    </div>
  </div>