<%# HEADER %>     
<div class="bg-black border-bottom text-white">
<nav class="navbar navbar-inverse navbar-expand-xl navbar-dark bg-transparent  ">

  <%= link_to image_tag('BULLIES_LOGO.png',id: 'logo', class: "grow "), :controller => :catagories, :action => :home %>

    <button role="button" class="navbar-toggler mt-auto ml-auto" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon "></span>
    </button>
    <div class="collapse navbar-collapse border-top border-warning mt-2" style="z-index: 1;" id="navbarsExample07">
      <ul class="navbar-nav float-right" >

          <% @catagories.each do |catagory| %>
            <li class="nav-item grow ml-1 mr-4 text-right" >
              <%= link_to catagory.name, catagory, class: "text-lobster" %>
            </li>
          <% end  %>
          <li class="nav-item grow ml-1 mr-4 text-right">
            <%= link_to "CONTACT US", {:controller => :catagories, :action => :contactus}, class: "text-lobster" %>
          </li>
        
      </ul>
    </div>
</nav>

</div>

<%# MAIN %> 
<main class="bg-dark-secondary">
  <div class="row pt-3 pl-5 pr-5 bg-transparent" style="max-width: 1600px;">
    <div class="col-md-6">
      <div class="row no-gutters rounded overflow-hidden flex-md-row mb-4 h-md-250 position-relative" style="max-width: 700px;">
        <div class="col  d-flex flex-column position-static">
          <%= image_tag @post.image, class: "card-img-top rounded shadow-sm" %>
        </div>
      </div>
    </div>
    <div class="col-md-6 pt-4">
      <div class="row no-gutters rounded overflow-hidden flex-md-row mt-4 shadow-sm h-md-250 position-relative bg-dark-dark text-dark-theme">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-0"><%= @post.title  %></h3>
          <%= @post.created_at.strftime("%B %d, %Y")  %>
          <p class="mt-4 mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
      <div class="row no-gutters rounded overflow-hidden flex-md-row mt-4 shadow-sm h-md-250 position-relative mb-4 bg-dark-dark text-dark-theme">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-3">Contact us</h3>
          <div class="mb-1">
            <span><i class="fa fa-phone"></i></span>
            <span>(385)722-7952</span>
          </div>
           <div>
             <span><i class="fa fa-envelope"></i></span>
             <span><a href="mailto:trentheist@gmail.com" style="color: lightblue;">trentheist@gmail.com</a></span>
           </div>
          <p class="mt-4 mb-auto">Our availability is Monday through Friday, 8AM to 5PM. Responses may be delayed outside of normal business hours.</p>
        </div>
      </div>
    </div>
  </div>
</main>





    

<%# FOOTER %>     
<footer class="border-top mb-3 bg-black">
<br>
  <div class="container">
    <div class="d-flex justify-content-around">

      <button class="btn btn-default grow" role="button" onclick="window.open('https://www.facebook.com/badriderbullies','_blank');">
        <i class="fab fa-facebook fa-3x icon-button"></i>
      </button>

      <button class="btn btn-default grow" role="button" onclick="window.open('https://www.instagram.com/bad_rider_bullies','_blank');">
        <i class="fab fa-instagram fa-3x icon-button"></i>
      </button>

      <a href="mailto:trentheist@gmail.com" role="button" class="btn btn-default grow">
        <i class="fa fa-envelope-open-text fa-3x icon-button"></i>
      </a>

    </div>
  </div>